@using Sitecore.Mvc
@using Sitecore.Mvc.Analytics.Extensions
@using Sitecore.Mvc.Presentation
@model RenderingModel
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <title>CoffeeCols</title>
    <link rel="stylesheet" href="/Css/styles.css" type="text/css" media="screen" />
    <link rel="stylesheet" type="text/css" href="/Css/print.css" media="print" />
    <script type="text/javascript" src="http://code.jquery.com/jquery-latest.js"></script>
    <script type="text/javascript" src="/Scripts/equalcolumns.js"></script>
    <!--[if IE]><script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</head>
<body>
    <header>
        <h1>CoffeeCols</h1>
    </header>
    @Html.Sitecore().DynamicPlaceholder("NavigationBar")

    @Html.Sitecore().DynamicPlaceholder("Banner")

    @Html.Sitecore().DynamicPlaceholder("Main")

    @Html.Sitecore().DynamicPlaceholder("Footer")

    <!-- Free template created by http://freehtml5templates.com -->
</body>
</html>

